@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-items:center;
  font-family: "Poppins", sans-serif;
}

button {
  background-color: #0084ff;
  color: white;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  margin-left: 2em;
  padding: 1em;
}

div{
margin-top: 2em;
}
#todoInput{
  padding: 1em;
 }
#checkButton{
  background-color: white;
}
@media screen and (max-width: 322PX) {
  body {
    background-color: 0084FF;
    /* filter: brightness(16%); */
  }
}