@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 10;
  padding: 10;
  font-family: "Poppins", sans-serif;
}
.addtask {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button {
  padding: 1em;
  background-color: #0084ff;
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  }

.Task-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Edit-button, .Delete-button {
  cursor: pointer
}